<li>
  <DButton
    @action={{this.goToGoogle}}
    @icon="globe"
    @label="user.google"
    class="btn-primary"
  />
</li>

<li>
  <DButton
    @action={{this.goToTwitter}}
    @icon="globe"
    @label="user.twitter"
    class="btn-primary"
  />
</li>